* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    color: #2d3436;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.wrapper {
    background: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: box-shadow 0.3s ease;
}


.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inp {
    width: 70%;
    padding: 10px;
    border: 2px solid #dfe6e9;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.btn {
    padding: 10px 20px;
    background: #0984e3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #195ba1;
}


.output {
    margin-top: 20px;
}

.output h1 {
    font-size: 32px;
    margin: 10px 0;
}

.output h4 {
    font-weight: 500;
    font-size: 14px;
    margin: 5px 0;
    color: #3c4244;
}

.output h5 {
    margin: 5px 0;
    font-weight: normal;
    color: #636e72;
}

.output img {
    margin: 10px 0;
    width: 60px;
    height: 60px;
    background-color: #81c6c9;
    border-radius: 50%;
}

/* Spinner Animation */
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}

.lds-spinner {
    color: currentColor;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.show-favorites-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #023e7d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;

}

.show-favorites-btn:hover {
    background-color: #001845;
}

.favorites {
    display: none;
    background-color: #f0f4f7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 300px;
    max-width: 600px;
    overflow-y: auto;
    margin-top: 10px;
    opacity: 0;
}

.favorites.show {
    display: flex;
    opacity: 1;
}

.fav-city {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    color: #3a3131;
    width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.fav-city:hover {
    background-color: #e1e8e8;
}


.favourites_btn {
    padding: 12px 25px;
    background-color: #0984e3;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.favourites_btn:hover {
    background-color: #195ba1;
    transform: scale(1.05);
}